.logo {
  width: 50px;
  height: 31px;
  background: rgba(255, 255, 255, 0.6)
    url('http://images.dorc.top/blog/blog-logo.png') no-repeat center center;
  margin: 16px 24px 16px 0;
  float: left;
  background-size: contain;
}
